.main_title{
    border-bottom: 3px solid black;
}
.tbl-1{
    font-size: 75%;
    margin-top: 20px;
}
.tbl-3{
    border-spacing: 2px;
    border-collapse: separate;
}
.tbl-4{
    font-size: 85%;
    margin-top: 20px;
    border-top: 2px solid black;
}
.tbl-5{
    font-size: 85%;
    border-bottom: 2px solid black;
}
.td-1{
    width: 100px;
    color: black;
}
.td-2{
    width: 85px;
}
.td-3{
    width: 85px;
}
.td-3{
    width: 50px;
}
.black{
    color: black;
}
.bg_black{
    background: black;
    padding: 3px;
    text-align: center;
}
.white{
    color: white;
}
.w100{
    width: 110px;
}
#qrcode img{
    width: 100px;
    height: 100px;
    margin: 30px;
    margin-left: 90px;
}

#qrcode{
    margin-bottom: -150px;
}
.bordered-row{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.column-3{
	width: 33%;
}
.pos-receipt{
	border: 5px solid black;
}